<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
        		<li><a href="/">Home</a></li>
        		<li><a href="/cv">CV</a></li>
			      <li><a href="/paper">Publications</a></li>
        		<li><a href="/misc">Misc</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
        		<li><a href="mailto:sh3892@columbia.edu">sh3892@columbia.edu</a></li>
        		<li><a href="https://github.com/sqhsoc">github.com/sqhsoc</a></li>
			      <li><a href="https://scholar.google.com/citations?user=uGJ9umgAAAAJ&hl=en">Google Scholar</a></li>
			      <li><a href="https://www.researchgate.net/profile/Siqi_Han">Research Gate</a></li>
			      <li><a href="https://orcid.org/0000-0002-3041-5704">ORCID</a></li>
				</ul>
			</footer>
		</body>
	</html>
